<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>

	<link rel="canonical" href="http://www.baysidenursery.com">

	<!-- CSS & Bootstrap -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ "/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.css | relative_url }}">
	<link rel="stylesheet" href="{{ "/css/styles.css" | relative_url }}">

	<!-- Fontawesome JavaScript -->
	<link rel="stylesheet" href="{{ "/bower_components/fontawesome/css/fontawesome.min.css" | relative_url }}">

    {% if page.url == 'blog/index.html' %}

    {% else %}

	<!-- Addthis JavaScript -->
    <script>var addthis_config = {"data_track_addressbar":true};</script>
	<script src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5847862a8dafb6df"></script>

    {% endif %}

</head>
